:root {
  //colors
  --color-black: #000;
  --color-white: #fff;
  --color-bg-blue: #484283;
  --color-accent: #F14F4F;
  --color-accent-hover: #CC4949;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-main: #444B58;
  --color-main-hover: #31343C;
  --color-bg: #FFF4EE;
  --color-cameo: #DBBBA9;
  --color-gray: #B2B5BB;


  //отступы
  --grip-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;

  //Fonts 
  --font-family: 'Intro', sans-serif;
  --middle-high: 700 30px / 140% var(--font-family);
  --middle-font-md: 600 20px / 20px var(--font-family);
  --middle-font-book: 400 24px / 24px var(--font-family);
  --middle-font: 400 16px / 140% var(--font-family);
  --small: 400 14px / 140% var(--font-family);
}
